---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
.page__title a {
    color: #fff;
    text-decoration: none
}

a {
    text-decoration: none
}

.page__taxonomy-item-category {
    display: inside;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 3px 8px;
    text-decoration: none;
    border: 1px solid #373C3F;
    border-radius: 4px;
    background-color: #31333C;
    color: #BFBCC2;
}

.page__taxonomy-item-tag {
    display: inside;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 3px 8px;
    text-decoration: none;
    border: 1px solid #373C3F;
    border-radius: 4px;
    background-color: #31333C;
    color: #BFBCC2;
}

@media (min-width: 64em) {
    .page {
        float: right;
        width: calc(100% - 300px);
        padding-right: 200px;
    }
}

div.highlighter-rouge, figure.highlight {
    position: relative;
    margin-bottom: 1em;
    background: #1b1922;
    color: #eff;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    font-size: 0.8em;
    line-height: 1.8;
    border-radius: 4px;
}
.utterances {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}
.utterances-frame {
color-scheme: light;
position: absolute;
left: 0;
right: 0;
width: 1px;
min-width: 100%;
max-width: 100%;
height: 100%;
border: 0;
}

.greedy-nav .visible-links a:hover {
    color: #fff; /* 텍스트 색상을 원하는 색상으로 변경하세요 */
}


