---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
.page__title a {
    color: aqua;
    text-decoration: none
}
@media(min-width: 64em) {
    .sidebar {
        float:left;
        width: calc(300px - 1em);
        opacity: 1;
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out
    }

}